.swiper {
  width: 100%;

  .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-button-prev, .swiper-button-next{
    color: white;
  }

  .swiper-button-prev::after, .swiper-button-next::after{
    font-size: 1rem;
  }

  .swiper-pagination-bullet{
    background-color: white;
  }
}
